.header-container {
  background: #fe7e0f;
  margin-bottom: 12px;
}

main, .main {
  max-width: 900px;
  margin: auto;
}

.align-middle {
  vertical-align: middle;
}

.pure-form input, .pure-form select {
  margin: 0px 6px
}

.pure-button {
  margin: 6px
}

.box40 {
  display: inline-block;
  height: 40px;
  min-width: 40px;
  vertical-align: middle;
}

.pure-button.button-delete {
  background: rgb(202, 60, 60);
  color: white;
  border-radius: 8px;
}